.setting_box {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 40px;
    background: hwb(254 3% 63% / 0.319);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.342);
    border-radius: 10px;
}

.setting_box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

.setting_box .input_box {
    position: relative;
}

.setting_box .input_box input {
    width: 310px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 50px;
    border: none;
    border-bottom: 0.5px solid #fff;
    outline: none;
    background: transparent;
}

.setting_box .input_box label {
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 12px;
    color: #fff;
    pointer-events: none;
}

label#up-error.error,
label#down-error.error,
label#right-error.error,
label#left-error.error,
label#balls-error.error,
label#ghosts-error.error,
label#time-error.error {
    top: 25px;
    left: 0;
    color: red;
    font-size: 13px;
    font-weight: bold;
    font-family: cursive;
}

.setting_box form button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: relative;
    display: inline-block;
    padding: 10px 26px;
    color: rgba(255, 255, 255, 0.842);
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 2px;
    margin: 0 auto;
}

.setting_box button:hover {
    background: #cfe0e8;
    color: #8d9db6;
    border-radius: 5px;
    box-shadow: 0 0 5px #cfe0e8, 0 0 25px #cfe0e8, 0 0 50px #8d9db6, 0 0 100px #8d9db6;
}