@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body 
{
	height: 100%;
	margin: 0;
}

body 
{
	font-family: "Open Sans";
	display: flex;
	background-color: #6883bc;
	flex-direction: column;
	justify-content: space-between;
}

.screens_container
{
	flex: 1 0 auto;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: center;
}